.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 30px 10px;
}

 .title{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    text-align: center;
    margin-bottom: 15px;
  }

