.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

.title{
    font-size: 18px;
    font-weight: 700;
  }

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

.price{
    font-weight: 700;
  }

